<!doctype html>
<html lang="en">
  <head>

	<style>
		.col {
		  font-size: 100%;
		}
		.row{
			padding-top: .5%;
			padding-bottom: .5%;
		}
		body {
			padding-bottom: 1%;
		}
		h2{
			padding-top: 1%;
			padding-bottom: 1%;
		}
		h6 {
			padding-top: .5%;
		}
		form {
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 5%;
			background-color: #060CE9;
			color: rgb(236, 204, 17);
		}
		</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Jeopardy Powerpoint Creator </title>
  </head>
  <body>
	  <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home')}}">JeopardyMaker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
				<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span class="glyphicon glyphicon-pencil"></span>About</a><h5>
					<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="exampleModalLabel"></h4>
						  </div>
						  <div class="modal-body">
							  <div class="container">
								  
									<form style="padding-top: 1%;">
									  <dl>
										
										<dt><label style="padding-top: 2%;">Instructions</label>			
										<p>
											One day instructions will be clear how to use this!
										</p>
			
									  </dl>
									</form>
								  
							</div>
						  </div>
			
						</div>
					  </div>
					</div>
				  </div>
        </div>
    </nav>

	<h2>
		Jeopardy Round
	</h2>

	
	<input id="pic" type="file" name="pic" />
	<button id="upload">Upload</button>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<script>
	
		$('#upload').on('click', function() {
			var file_data = $('#pic').prop('files')[0];
			var form_data = new FormData();
			form_data.append('file', file_data);

			$.ajax({
					url         : 'upload.php',     // point to server-side PHP script 
					dataType    : 'text',           // what to expect back from the PHP script, if anything
					cache       : false,
					contentType : false,
					processData : false,
					data        : form_data,                         
					type        : 'post',
					success     : function(output){
						alert(output);              // display response from the PHP script, if any
					}
			});
		});
	
	</script>
  </body>
</html>